<div class="jumbotron">
  <h2>Welcome to Rumbl!</h2>
  <p class="lead">Rumbl is the tutorial application from the book <em><a href="https://pragprog.com/book/phoenix/programming-phoenix">Programming Phoenix</a></em> by by Chris McCord, Bruce Tate, and José Valim.</p>
</div>